<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.8">
        <title>Producto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/producto.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!--
        <header>
            <div class="container-hero">
                <div class="container hero">
                    <div class="customer-support">
                        <i class="fa-solid fa-headset"></i>
                        <div class="content-customer-support">
                            <span class="text">Soporte al cliente</span>
                            <span class="number">123-456-789</span>
                        </div>
                    </div>

                    <div class="container-logo">
                        <i class="fa-solid fa-shop"></i>
                        <h1 class="logo"><a href="/">Comercio</a></h1>
                    </div>

                    <div class="container-user">
                        <i class="fa-solid fa-user"></i>
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div class="content-shopping-cart">
                            <span class="text">Carrito</span>
                            <span class="number">(0)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-navbar">
                <nav class="navbar container">
                    <i class="fa-solid fa-bars"></i>
                    <ul class="menu">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Frutas</a></li>
                        <li><a href="#">Verduras</a></li>
                        <li><a href="#">Otros</a></li>
                        <li><a href="#">Mas</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>

                    <form class="search-form">
                        <input type="search" placeholder="Buscar...">
                        <button class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </nav>
            </div>
        </header>
        -->
        <header>
            <div class="header container">
                <h1 class="logo">Comercio</h1>

                <nav>
                    <ul>
                        <ul class="menu-nav">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Frutas</a></li>
                            <li><a href="#">Verduras</a></li>
                            <li><a href="#">Otros</a></li>
                            <li><a href="#">Mas</a></li>
                        </ul>
                    </ul>
                </nav>
                <div class="menu-hamburger">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="carrito">
                    <img src="./static/img/cart.svg" alt="#">
                    <div class="count-products-cart">0</div>
                </div>
            </div>
        </header>
        <main class="container">
            <div class="grid-images">
                <div class="imagen-producto image-1">
                    <img src="./static/img/papaspollo.jpg" alt="papas1">
                </div>
                <div class="imagen-producto image-2">
                    <img src="./static/img/papaspollo.jpg" alt="papas1">
                </div>
                <div class="imagen-producto image-3">
                    <img src="./static/img/papaspollo.jpg" alt="papas1">
                </div>
                <div class="imagen-producto image-4">
                    <img src="./static/img/papaspollo.jpg" alt="papas1">
                </div>
            </div>

            <!--Detalles del producto-->
            <div class="container-details-products">
                <div class="aside-details-products">
                    <div class="header-details-product">
                        <h2>Papas de pollo</h2>
                        <div class="row">
                            <div class="calification">
                                <i class="fa-solid fa-star"></i>
                                <p>4.9 - <span>148 reseñas</span></p>
                            </div>
                            <div class="share">
                                <button class="btn">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    <p>Compartir</p>
                                </button>
                                <button class="btn">
                                    <i class="fa-regular fa-heart"></i>
                                    <p>Guardar</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-details-product">
                        <div class="container-acordeon">
                            <button class="acordeon-button active">
                                Descripcion
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <div class="acordeon-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ad dolor iure culpa minima eveniet, laudantium voluptate quo odio voluptatum iste assumenda consequatur non! Aspernatur hic velit error eveniet fugiat.
                                </p>
                            </div>
                        </div>
                        <div class="container-acordeon">
                            <button class="acordeon-button active">
                                Caracteristicas
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <div class="acordeon-content">
                                <ul>
                                    <li>Made in Medellin-Colombia</li>
                                    <li>Margaritas</li>
                                    <li>Pollo</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="body-details-product">
                        <div class="info-product">
                            <h2>Detalles del producto</h2>
                            <div class="info">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse enim minima laboriosam aliquid sint velit et, quos sapiente obcaecati voluptate? Reprehenderit repudiandae facilis non, labore neque tempore eveniet quisquam sequi?
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repellendus voluptate distinctio suscipit quia aliquam eum nisi, alias unde ipsum amet porro aut accusamus culpa dolor officiis cumque in quae?</p>
                            </div>
                            <div class="features-product">
                                <div class="feature-product shipping">
                                    <i class="fa-solid fa-truck-fast"></i>
                                    <h4>Envio Gratuito</h4>
                                    <p>Solo en ordenes por encima de $20.000</p>
                                </div>
                                <div class="feature-product return">
                                    <i class="fa-solid fa-phone-volume"></i>
                                    <h4>Devoluciones Faciles</h4>
                                    <p>Solo llamanos</p>
                                </div>
                                <div class="feature-product delivery">
                                    <i class="fa-solid fa-globe"></i>
                                    <h4>Envio Nacionales e Internacionales</h4>
                                    <p>Envios Nacionales Rapidos</p>
                                </div>
                                <div class="feature-product refund">
                                    <i class="fa-solid fa-money-bill-transfer"></i>
                                    <h4>Politicas de Devoluciones</h4>
                                    <p>60 dias para devolver</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-card-payment">
                    <div class="card-payment">
                        <div class="header">
                            <p class="price">$5.000</p>
                            <p class="count-review">
                                <i class="fa-solid fa-star"></i>
                                4.9 -
                                <span>172 reseñas</span>
                            </p>
                        </div>
                        <div class="colors">
                            <p>Color: <span class="value-color">Naranja</span></p>
                            <div class="row-colors">
                                <div class="container-color color-black selected" data-color="negro"></div>
                                <div class="container-color color-white selected" data-color="blanco"></div>
                                <div class="container-color color-orange selected" data-color="naranja"></div>
                                <div class="container-color color-blue selected" data-color="celeste"></div>
                                <div class="container-color color-brown selected" data-color="marron"></div>
                            </div>
                        </div>
                        <div class="sizes">
                            <p>Color: <span class="value-size">XS</span></p>
                            <div class="container-sizes">
                                <button class="btn-size">XS</button>
                                <button class="btn-size">S</button>
                                <button class="btn-size">M</button>
                                <button class="btn-size">L</button>
                                <button class="btn-size">XL</button>
                                <button class="btn-size">2XL</button>
                            </div>
                        </div>
                        <div class="quantity">
                            <div class="container-add-quantity">
                                <div class="add-quantity">
                                    <button class="btn minus" id="btn-decrement">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <span id="count-product">0</span>
                                    <button class="btn plus" id="btn-increment">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                                <button class="btn-add-to-card">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                    Añadir al Carrito
                                </button>
                            </div>
                            <div class="info-quantity">
                                <div class="price-tax">
                                    <p>
                                        $5.000 x <span id="quantity-product">0</span>
                                    </p>
                                    <p>Impuesto estimado</p>
                                </div>
                                <div class="value">
                                    <p>$5.000</p>
                                    <p>$0</p>
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <span>Total</span>
                            <div class="price-total">$0</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="producto.js"></script>
    </body>
</html>